.EventBlock{
    padding: 10px 50px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color:rgb(255,153,0);
    border-radius: 10px;
}

.EventDetails{
    display: flex;
    flex-direction: row;
}

.image, .description {
    flex: 1;
}

 .image img { 
    width: 100%;
    height: auto;
    flex: 1;
}

.description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.description h3{
    font-size: larger;
    justify-self: flex-start;
}
.join{
    display: flex;
    justify-content: center;
    background-color: #ff5722;
}

.join .icon{
    align-self: center;
    padding: 0px 10px;
}

.join .counter{
    align-self: center;
    padding: 0px 10px;
}
