body{
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
}

.Events{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

/*

Event Block Style

*/
.Upcoming{
    font-size: x-large;
    text-align: center;
    font-family: Impact;
}

.EventBlock{
    padding: 10px 50px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color:rgb(255,153,0);
    border-radius: 10px;
}
.EventDetails{
    display: flex;
    flex-direction: row;
    padding:  10px;
}
.image, .description {
    flex: 1;
}
 .image img { 
    width: 100%;
    height: auto;
    flex: 1;
}
.description {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.description p{
    padding: 10px;
}

.description h3{
    font-size: larger;
    justify-self: flex-start;
}
.join{
    display: flex;
    justify-content: center;
    background-color: #ff5722;
    border-radius: 10px;
}
.join .icon{
    align-self: center;
    padding: 0px 10px;
}
.join .counter{
    align-self: center;
    padding: 0px 10px;
}

/*

Club Page Style

*/

.clubDropDown{
    background-color:rgb(255,153,0);
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}
.clubDropDown p{
    padding: 10px;
}
/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
    font-family: Impact;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ff5722;
    color: rgb(255,153,0);
}

.nav-links a {
    color: #eadd1a;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #b33f18;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: #b33f18;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #b33f18;
}

.services:hover .dropdown {
    display: block;
}
